.sona-animacion-relativa,
.Animacion-container-seccion-title,
.Animacion-container-seccion-description-left,
.Animacion-container-seccion-img,
.Animacion-container-seccion-description-right {
  position: absolute;
}

.sona-animacion-relativa {
  top: 10px;
  position: sticky;
}

.Animacion-container-seccion-img {
  left: 33.5%;
  bottom: 5%;
}
.Animacion-container-seccion-description-left,
.Animacion-container-seccion-description-right {
  top: 30%;
}
.Animacion-container-seccion-description-right {
  right: 10%;
}

#animation-title-01,
#animation-title-02,
#animation-title-03,
#animation-title-04,
#animation-title-05 {
  opacity: 0;
}

#animation-img-01,
#animation-img-02,
#animation-img-03,
#animation-img-04,
#animation-img-05 {
  opacity: 0;
}

#animation-title-01,
#animation-description-01,
#animation-img-01 {
  z-index: 10;
}
#animation-title-02,
#animation-description-02,
#animation-img-02 {
  z-index: 9;
}
#animation-title-03,
#animation-description-03,
#animation-img-03 {
  z-index: 8;
}
#animation-title-04,
#animation-description-04,
#animation-img-04 {
  z-index: 7;
}
#animation-title-05,
#animation-description-05,
#animation-img-05 {
  z-index: 6;
}

#animation-img-05 {
  width: 150%;
}

#animation-description-01,
#animation-description-02,
#animation-description-03,
#animation-description-04,
#animation-description-05 {
  opacity: 0;
}

#animation-description-01,
#animation-description-02,
#animation-description-03,
#animation-description-04,
#animation-title-01,
#animation-title-02,
#animation-title-03,
#animation-title-04,
#animation-img-01,
#animation-img-02,
#animation-img-03,
#animation-img-04 {
  position: absolute;
}

/* --> Classes */

.opacity-cero {
  opacity: 0;
}

/* -> desplasamiento */
.animacion-desplasamiento-entrada-derecha,
.animacion-desplasamiento-salida-derecha,
.animacion-entrada-derecha,
.animacion-salida-derecha,
.animacion-entrada-izquierda,
.animacion-salida-izquierda {
  animation-duration: 1s; /* 2.5s */
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.animacion-salida-izquierda {
  animation-name: animacion-salida-izquierda;
}
.animacion-entrada-izquierda {
  animation-name: animacion-entrada-izquierda;
}

.animacion-entrada-derecha {
  animation-name: animacion-entrada-derecha;
}
.animacion-salida-derecha {
  animation-name: animacion-salida-derecha;
}

.animacion-desplasamiento-entrada-derecha {
  animation-name: animacion-desplasamiento-entrada-derecha;
}

.animacion-desplasamiento-salida-derecha {
  animation-name: animacion-desplasamiento-salida-derecha;
}

/* -> opacidad */
.animacion-opacidad-no-visible,
.animacion-opacidad-visible {
  animation-duration: 0.5s; /* 2.5s */
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.animacion-opacidad-no-visible {
  animation-duration: 0.35s;
  animation-name: animacion-opacidad-no-visible;
}
.animacion-opacidad-visible {
  animation-name: animacion-opacidad-visible;
}

/* --> keyframes */

/* -> desplasamiento */

@keyframes animacion-salida-izquierda {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(-300px);
  }
}
@keyframes animacion-entrada-izquierda {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes animacion-entrada-derecha {
  0% {
    transform: translateX(300px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes animacion-salida-derecha {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  50% {
    /* transform: translateX(0px); */
    opacity: 0;
  }
  100% {
    transform: translateX(300px);
    opacity: 0;
  }
}

@keyframes animacion-desplasamiento-entrada-derecha {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateX(200px);
    opacity: 1;
  }
}

@keyframes animacion-desplasamiento-salida-derecha {
  0% {
    transform: translateX(200px);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 0;
  }
}

/* -> opacidad */

@keyframes animacion-opacidad-no-visible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animacion-opacidad-visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
