* {
  margin: 0%;
  padding: 0;
}

h1{
  font-size: 100px;
}

.seccion-principal {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/Fondo_bh@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion-principal div{
  text-align: center;
}
