* {
  margin: 0%;
  padding: 0;
}

body {
  background-color: #000000;
  color: white;
  font-family: Helvetica Neue;
}

h1 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 10vw;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

h2 {
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  color: rgba(255, 255, 255, 1);
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.45vw;
  text-transform: uppercase;

  margin-bottom: 25px;
}

h4 {
  overflow: visible;
  white-space: nowrap;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75vw;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;

  margin-bottom: 10px;
}

.sona-animacion-relativa,
footer,
section {
  height: 100vh;
  width: 100vw;
  display: flex;
}

footer {
  justify-content: center;
  padding-top: 125px;
  background-image: url(../img/Footer.png);
  background-repeat: no-repeat;
  background-position: 0 100px;
  background-size: cover;
}

footer p {
  font-weight: bold;
  font-size: 5vw;
}

img {
  width: 100%;
  min-height: 350px;
  max-height: 450px;
}

.sona-animacion-relativa {
  background-image: url(../img/test.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-principal {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/Header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-principal div {
  text-align: center;
}

.tex-info {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  max-width: 360px;
  min-width: 300px;
}
.tex-info p {
  width: 50%;
  border-bottom: 1px solid white;
}
.text-value {
  text-align: right;
}

.section-item-right,
.section-item-left {
  padding: 5% 0 0 5%;
  width: calc(37% - 5%); /* 37% 74 */
  height: auto;
}
.section-item-center {
  /* width: 26%; */
  width: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-description-left {
  font-size: 2vw;
  color: rgba(255, 255, 255, 1);
}

.sona-animacion-relativa,
.Animacion-container-seccion-title,
.Animacion-container-seccion-description-left,
.Animacion-container-seccion-img,
.Animacion-container-seccion-description-right {
  position: absolute;
}

.sona-animacion-relativa {
  top: 10px;
  position: sticky;
}

.Animacion-container-seccion-img {
  left: 33.5%;
  bottom: 5%;
}
.Animacion-container-seccion-description-left,
.Animacion-container-seccion-description-right {
  top: 30%;
}
.Animacion-container-seccion-description-right {
  right: 10%;
}

#animation-title-02,
#animation-title-03,
#animation-title-04,
#animation-title-05 {
  opacity: 0;
}

#animation-img-02,
#animation-img-03,
#animation-img-04,
#animation-img-05 {
  opacity: 0;
}

#animation-title-01,
#animation-description-01,
#animation-img-01 {
  z-index: 10;
}
#animation-title-02,
#animation-description-02,
#animation-img-02 {
  z-index: 9;
}
#animation-title-03,
#animation-description-03,
#animation-img-03 {
  z-index: 8;
}
#animation-title-04,
#animation-description-04,
#animation-img-04 {
  z-index: 7;
}
#animation-title-05,
#animation-description-05,
#animation-img-05 {
  z-index: 6;
}

/* #animation-description-05 {
  word-spacing: 5px;
  text-decoration: underline;
  line-height: 30px;
} */

#animation-img-05 {
  width: 150%;
}

#animation-description-02,
#animation-description-03,
#animation-description-04,
#animation-description-05 {
  opacity: 0;
}

#animation-description-01,
#animation-description-02,
#animation-description-03,
#animation-description-04,
#animation-title-01,
#animation-title-02,
#animation-title-03,
#animation-title-04,
#animation-img-01,
#animation-img-02,
#animation-img-03,
#animation-img-04 {
  position: absolute;
}
